{% extends 'base.html' %}
{% block title %}Home {% endblock title %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container m-5 col-10">
  <div id="customerlist1" class="container"> </div>
</div>


<div class="container col-5 mt-3">
  <form id="searchForm" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Search" class="btn btn-success  mt-2" />
  </form>
</div>
<div class="container mt-3 showhide_table">
  {% include 'include/train_results.html' %}
  <div class="container col-sm-1">
    <a href="{% url 'export_csv' %}" class="btn btn-primary btn-sm  mb-3">Download CSV</a>
  </div>

</div>

<div id="customer" class="container"> </div>





{% endblock body %}
{% block scripts %}
<script>



  $(document).ready(function () {
    // catch the form's submit event
    $('#searchForm').submit(function () {
      // create an AJAX call
      $.ajax({
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: "{% url 'home' %}",
        // on success
        success: function (data) {
          if (data.form_is_valid) {
            $("#train-table").html(data.html_train_list);
            $(".showhide_table").show();
            $("#searchForm").hide();
          }
        },

        // on error
        error: function (data) {
          // alert the error if any error occured
          alert("not responding");

        }
      });
      return false;
    });
    $(".showhide_table").hide();
  })
  $(function () {
    var availableTags2 = [
      {% for p1 in source %}
                "{{p1}}",
    {% endfor %}
        ];
  $("#source").autocomplete({
    source: availableTags2
  });
      } );
  $(function () {
    var availableTags = [
      {% for p in destination %}
                "{{p}}",
    {% endfor %}
        ];
  $("#destination").autocomplete({
    source: availableTags
  });
      } );


{% comment %} for customer booking details {% endcomment %}
$(function () {
  var getcutomerlist = function () {
    var btn = $(this);
    
    $.ajax({
      url: "{% url 'customer_list' %}",
      type: 'get',
      // dataType: 'json',
      beforeSend: function () {
        $("#customerlist1").html("");
        

      },
      success: function (data) {
        {% comment %} $(".showhide_table").hide(); {% endcomment %}
        $("#customerlist1").html(data.html_form);

        
      }
    });
  };
$(".customerlist").click(getcutomerlist)

});
    </script>
{% endblock scripts %}