<!-- this is train and seat detail which customer want to book -->
<div class="container col-md-8">
<div class="table-responsive-md ">
    <table class="table" style="border-inline-color:#159bd0; border:1px solid" >
        <thead style="background-color:#159bd0;">
          <tr>
            <th scope="col">Train No</th>
            <th scope="col">Train Name</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Arrival time</th>
            <th scope="col">Fare</th>
            <th scope="col">Date</th>
            <th scope="col">Seats</th>
            
          </tr>
        </thead>
        <tbody style="background-color: #92A8D1;">
            {% for t in trains %}
    
            <tr>
              <th scope="row">{{t.train_no}}</th>
              <td>{{t.train_name}}</td>
              <td>{{t.source}}</td>
              <td>{{t.destination}}</td>
              <td>{{t.arrival_time}}</td>
              <td>Rs: {{t.fare}}</td>
              <td>{{date}}</td>
              <td>{{seat}}</td>
              
            </tr>
            {% endfor %}
        </tbody>
      </table>

<!-- this is customer booking form -->
</div>
</div>
{% include 'include/bookingform.html' %}

