<div class="table-responsive-lg">
    <table class="table " id="train-table">
      <thead>
        <tr>
          
          <th scope="col">Train No</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Journey Date</th>
          <th scope="col">Email</th>
          <th scope="col">Number</th>
          <th scope="col">Seat No</th>
          

        </tr>
      </thead>
      <tbody>
        {% for t in book %}
  
        <tr>
          
          <th scope="row">{{t.s_id}}</th>
          <td>{{t.name}}</td>
          <td>{{t.age}}</td>
          <td>{{t.gender}}</td>
          <td>{{t.journey_date}}</td>
          <td>{{t.email}}</td>
          <td>{{t.number}}</td>
          <td>{{t.seat_no}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
</div>


