{% extends 'base.html' %}
{% block body %}
<div class="container col-md-8">
    <div class="table-responsive-md ">
        <table class="table" style="border-inline-color:#159bd0; border:1px solid">
            <thead style="background-color:#159bd0;">
                <tr>
                    <th scope="col">Train No</th>
                    <th scope="col">Train Name</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Arrival time</th>
                    <th scope="col">Fare</th>
                    <th scope="col">Date</th>
                    <th scope="col">Seats</th>

                </tr>
            </thead>
            <tbody style="background-color: #92A8D1;">
                {% for t in trains %}

                <tr>
                    <th scope="row">{{t.train_no}}</th>
                    <td>{{t.train_name}}</td>
                    <td>{{t.source}}</td>
                    <td>{{t.destination}}</td>
                    <td>{{t.arrival_time}}</td>
                    <td>Rs: {{t.fare}}</td>
                    <td>{{date}}</td>
                    <td>{{seat}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button id="rzp-button1" class="btn btn-success">Pay</button>


        <!-- this is customer booking form -->
    </div>
</div>

<div class="container col-md-8">
    <div class="table-responsive-md ">

        <form action="{% url 'status' %}" method="POST">{% csrf_token %}



            <h1>Creating order</h1>

            <fieldset>
                <legend>
                    <h3>Personal Details</h3>
                </legend>
                <div class="personal-details">
                    <div>
                        <div><label>Name*</label><input type="text" name="name" placeholder="{{ name }}" disabled></div>
                        <div><label>Phone*</label><input type="text" name="name" placeholder="{{ number }}" disabled>
                        </div>
                        <div><label>Email*</label><input type="text" name="name" placeholder="{{ email }}" disabled>
                        </div>


                    </div>

                </div>
            </fieldset>
            <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_bOr7R6L3NnF9pU"
                data-amount="{{ amount }}" data-currency="INR" data-order_id="{{ order_id }}"
                data-buttontext="Pay with Razorpay" data-name="Acme Corp" data-description="Test transaction"
                data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpWzPOB8s9WRX7JXZ96x1oPESu-eoN5YUFfDKcebTKFn7piPBS&usqp=CAU"
                data-prefill.name="{{ name }}" data-prefill.email="{{ email }}" data-prefill.contact="{{ number }}"
                data-theme.color="#F37254"></script>
            <input type="hidden" custom="Hidden Element" name="hidden">




        </form>
    </div>
</div>
{% endblock body %}