{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
<input type="button" value="piechart" class="piechartbutton btn btn-success">
<input type="button" value="vegachart" class="vegachartbutton btn btn-primary">
<input type="button" value="geochart" class="geochartbutton btn btn-secondary">
    <!--Div that will hold the pie chart-->
    <div id="piechartajax" class="hidepiechart"></div>
    <!--Div that will hold the vega chart-->
    <div id="ajaxvegachart" class="hidevegachart"></div>
    <!--Div that will hold the vega chart-->
    <div id="ajaxgeochart" class="hidegeochart"></div>
</div>

<script>
    // piechar get data
    $(function () {
        var getlist = function () {
          var btn = $(this);
          
          $.ajax({
            url: "{% url 'piechart' %}",
            type: 'get',
            // dataType: 'json',
            beforeSend: function () {
              $("#piechartajax").html("");
              $('.hidevegachart').hide();
              $('.hidepiechart').show(); 
              $('.hidegeochart').hide();
             
              
              
              
      
            },
            success: function (ajaxdata) {
              
              $("#piechartajax").html(ajaxdata.html_form);
      
              
            }
          });
        };
        $(".piechartbutton").click(getlist)
        
      
      });
    //   piechart end

     //vegachart
    $(function () {
        var getvega = function () {
          var btn = $(this);
          
          $.ajax({
            url: "{% url 'vegachart' %}",
            type: 'get',
            // dataType: 'json',
            beforeSend: function () {
              $("#ajaxvegachart").html("");
              $('.hidepiechart').hide();
              $('.hidevegachart').show();
              $('.hidegeochart').hide();
              
              
              
      
            },
            success: function (ajaxdata) {
            
              
              $("#ajaxvegachart").html(ajaxdata.html_form);
      
              
            }
          });
        };
        $(".vegachartbutton").click(getvega)
        
      
      
      });
//vegachart end
//GEOCHART
      $(function () {
        var getgeo = function () {
          var btn = $(this);
          
          $.ajax({
            url: "{% url 'geochart' %}",
            type: 'get',
            // dataType: 'json',
            beforeSend: function () {
              $("#ajaxgeochart").html("");
              $('.hidepiechart').hide();
              $('.hidevegachart').hide();
              $('.hidegeochart').show();
              
              
              
      
            },
            success: function (ajaxdata) {
            
              
              $("#ajaxgeochart").html(ajaxdata.html_form);
      
              
            }
          });
        };
        $(".geochartbutton").click(getgeo)
        
      
      
      });
      //GEOCHART END
      </script>
      
    
      {% endblock body %}
    
